@import "tailwindcss";

@theme {
    /* Main page background */
  --color-background: #FAFAF7;

  /* Primary text color (dark blue) */
  --color-text: #293E5A;

  /* Secondary text / slated blue */
  --color-muted: #566984;

  /* Primary brand color (orange) */
  --color-primary: #EC6B2A;

  /* Secondary background / light blue gray / sections */
  --color-secondary: #E8EDF4;

  /* Accent color (using the brand orange) */
  --color-accent: #EC6B2A;

  /* Borders and dividers */
  --color-border: #E8EDF4;

  --font-sans: var(--font-plus-jakarta);
  --font-heading: var(--font-fraunces)
}
