@import "tailwindcss";

@theme {
  /* Main page background */
  --color-background: #fafaf7;

  /* second background color */
  --color-main: #1a2d4a;
  
  /* Primary text color (dark blue) */
  --color-text: #293e5a;

  /* Secondary text / slated blue */
  --color-muted: #566984;

  /* Primary brand color (orange) */
  --color-primary: #ec6b2a;

  /* Secondary background / light blue gray / sections */
  --color-secondary: #e8edf4;

  /* Accent color (using the brand orange) */
  --color-accent: #ec6b2a;

  /* Borders and dividers */
  --color-border: #e8edf4;

  --font-sans: var(--font-plus-jakarta);
  --font-heading: var(--font-fraunces);
}
